/******************************************************
ARCHIVO : main.css
AUTOR : Joel Pinto
FECHA : 05/09/2022
DESCRIPCIÓN : Responsive Web Design
*******************************************************/

/* Responsive */
@media (min-width: 500px) {
    #inicio {
        display: flex;
        height: 100%;
    }

    #texto {
        height: 100vh;
    }

    #imagen {
        height: 100vh;
    }

}

@media (min-width: 700px) {
    .boton {
        padding: 1rem 3rem;
    }
}

/* CSS */

body {

    margin: 0;
    background: #eee;
    height: auto;
}

h1 {
    font-family: 'Arial', sans-serif;
    font-weight: 400;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0;
}

h2 {
    font-family: 'Arial', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    margin: 0;
}

img {
    display: block;
    width: 100%;
}

main {
    max-width: 900px;
    margin: auto;
}

#inicio {
    background: #fff;

}

#texto {
    display: flex;
    flex: 0 1 40vw;
    height: 50vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-right: 1rem;
    padding-left: 1rem;

}

#texto h2 {
    color: rgb(85, 81, 81);
}

#imagen {
    background: url("fondo.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    flex: 0 1 60vw;
    margin: 0;
}

.boton {
    padding: 0.5rem 2rem;
    border: 1px #ccc solid;
    display: inline-block;
    margin: 2rem 0 0;
    border-radius: 50px;
    color: #333;
}

.boton:hover {
    background: #f4f4f4;

}