<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="OpInt.css">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejercicio 1</title>
    <script src="lineup.js">
        console.log("asdf");
    </script>
</head>
<body>
    <h1>DIE MANNSCHAFT</h1>
    <p>Die Startelf</p>
 
    <div> 
        <img src="https://i.pinimg.com/564x/82/13/3a/82133a2f1c132057c6ffa69b045d4f2a.jpg" height="390px"> 
    </div> 
    <a></a>
    <p><a></a></p>
    <p><a id="myAnchor" href="https://www.dfb.de/en/en-start/">Die Mannschaft Main Page</a></p>

        <p>Click the button to go directly to dfbteam.de</p>

        <button onclick="myFunction()">Try it</button>

        <p id="demo"></p>

</body>
</html>