
.prof{
    font-size: 2cm;
}
.sem{

    font-size: 35mm;
}

label{
    font-size: 70Q;
}
select{
    font-size: 1in;
}

option{
    font-size: 3pc;
}

summary{
    font-size: 10pt;
}

