.item1{
    grid-area: space1;
}
.item2{
    grid-area: space2;
}
.item3{
    grid-area: space3;
}
.item4{
    grid-area: space4;
}
.item5{
    grid-area: space5;
}
.item6{
    grid-area: space6;
}
.item7{
    grid-area: space7;
}
.item8{
    grid-area: space8;
}
.item9{
    grid-area: space9;
}

.container{
    display: grid;
    grid-template: 
    'space1 space2 space3 space3'
    'space4 space5 space6 space7'
    'space8 space9 space9 space7'
    ;
    grid-gap: 0px;
    padding: 0px;
}

.container>div {
    padding: 0px 0;
    font-size: 12px;
}

